@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));


@theme{

  --animate-mohamed:loading 1s linear infinite;
  @keyframes loading {
    0%{
      transform:rotate(0deg)
    }
    100%{
      transform:rotate(360deg)
    }
  }
}




@layer components{
  .btn{
    @apply bg-blue-700 text-white text-xl hover:bg-emerald-600
  }

  .afterEffect{
    @apply relative   after:w-0 after:h-1 after:bg-green-500 after:absolute after:bottom-0 after:left-0 hover:after:w-full after:transition-[width] after:duration-700
  }
}

.activeLink{
  color: #00C951;
  font-weight:900 ;
  font-size:larger ;
  
}


 /* عشان لون الايفون يتغير لما اجي اعمل اسمح من الكارت */
.icon-hover {
  fill: black; 
  transition: fill 0.3s ease; 
}
.icon-hover:hover {
  fill: red; 
}






.custom-slider .slick-prev:before,
.custom-slider .slick-next:before {
  color: white;
  background-color: green;
  border-radius: 50%;
  font-size: x-large;
   
}

body{
  background-image: url("../src/imges/light-patten.svg") ;
}



